.wrapper {
    padding: 70px 80px 50px;
    top:30%;
    transform:translateY(-50%);
    left:0;
    right:0;
    margin: 0 auto;
    width: 60vw;
    background-color: white;
    position: fixed;
}

// .closeButton {
//     width: 27px;
//     height: 27px;
//     background: #1e58ff;
//     border: none;
//     position: absolute;
//     right: 30px;
//     top: 30px;
    
//     &::before, 
//     &::after {
//       content: '';
//       width: 16px;
//       height: 2px;
//       position: absolute;
//       background: white;
//       display: block;
//       top: 50%;
//       transform: translateY(-50%);
//       left: 0;
//       right: 0;
//       bottom: 0;
//       margin: 0 auto;
//       transform-origin: 50%;
//     }
    
//     &::before {
//       transform: rotate(45deg);
//     }
    
//     &::after {
//       transform: rotate(-45deg);
//     }
//   }

  .bodyModal{
      z-index:5;
      background-color: rgba(0,0,0, 0.7);
      width:100%;
      height: 100%;
      position:fixed;
      left:0;
      right:0;
  }

  .btnPackage{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  }