.chip{
    display:block;
    max-width:120px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    padding: 50px;
    font-weight: 500;
    background: none;
    border: 2px solid #000000;
    border-radius:50%;
    color: #000000;
    cursor: pointer;
}

.actionBtnClass{
    display:inline-block;
    text-transform: uppercase;
    height:100px;
    width:100px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.actionBtnClass:hover{
    background-color:#000000;
    color: #ffffff;
    border-color: #000000;
    font-weight: bold;
}